body{
    margin: 3px;
}

h1{
    font-size: 50px;
}

.sharan{
    color: orange;
}

.button{
    color:orange;
}

.left{
    
    float:left;
    margin-left: 2%;
    padding-left: 2%;
    width: 50%;
}

.right img{
    
    float: right;
    margin-right: 5%;
    width: 25%;
    
}

.top-banner{
     
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
}

.link{
    text-decoration: none;
    background-image: linear-gradient(90deg, lightsalmon, tomato ) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 800;
}



.middle-banner{

    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.mid-h1{
        font-size: 50px;
}

.mid-h4{
    font-size: 30px;
}

.mid-mid{
    color: brown;
}

.mid-left img{
    
    float: left;
    margin-right: 5%;
    width: 25%;
}

.mid-right{
    
    float:right;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 5%;
    width: 50%;
}

.bottom-h1{
    font-size: 30px;
}

.bottom-left{
    float: left;
    box-shadow: 20px 20px 10px grey;
    border-left: 7px solid;
    border-image: linear-gradient(180deg,  lightsalmon,tomato );
    border-image-slice: 1;
    padding-inline: 5%;
    margin-left: 4%;
    height: 80%;
    border-radius: 5px;
}

.bottom-right{
    float: right;
    box-shadow: 20px 20px 10px grey;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(1, 123, 163), blue );
    border-image-slice: 1;
    padding-inline: 5%;
    margin-right: 4%;
    height: 80%;
    border-radius: 5px;
    
    
}

p{
    font-size: large;
}

.bottom-h4{
    font-size: 20px;
    color: aqua;
}

.bottom{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}